$colors: (
  primary: #0c457f,
  PrimaryDark: #051a2e,
  primaryLight: #749dc8,
  textColor: #f5f0ef,
  starColor: #c8a95b,
  success: #06b261,
  error: #e63322,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header ul li {
  float: left;
}

body {
  font-family: "roboto";
  color: color(textColor);
  font-size: medium;
  margin: 0;

  #bg {
    background-image: url("../images/background.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
}
#formTitle {
  font-family: "montserrat";
  margin-left: 20%;
}
form {
  text-align: center;
}
form input #productgroup {
  list-style: none;
  text-align: left;
}
.checked {
  color: color(starColor);
}
