$colors: (
    primary: #0C457F,
    PrimaryDark: #051A2E,
    primaryLight: #749DC8,
    textColor: #F5F0EF,
    starColor: #C8A95B,
    success: #06B261,
    error: #E63322,
);

@function color($color-name) {
    @return map-get($colors , $color-name )
}