<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTB klantenfeedback</title>
    <link rel="stylesheet" href="css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div id="bg"></div>
    <header>
        <ul>
            <li>
                <a href="https://www.utboils.com/" class="logo"><img src="../images/logo.png" alt="UTB logo"></a>
            </li>
            <li>
                <h1 id="formTitle">klanttevredenheid</h1>
            </li>
        </ul>
    </header>
    <main>
        <form id="regForm" action="">

            <h2>klantenfeedback</h2>

            <!-- One "tab" for each step in the form: -->
            <div class="tab">
                <label for="progressbar">voortgang</label>
                <progress id="progressbar" value="20" max="100"></progress><br><br>
                <label for="datePicker">datum</label>
                <input id="datePicker" type="date" /><br><br>
                <label for="companyName">naam bedrijf</label><br>
                <input type="text" id="companyName" name="companyName" oninput="this.className = ''"><br><br>
                <label for="companyReprensentative">naam klant</label><br>
                <input type="text" id="companyReprensentative" name="companyReprensentative" oninput="this.className = ''"><br><br>
                <label for="productGroup">productgroep</label><br>
                <ul class="productgroup"><br>
                    <li>
                       <label for="fuels">brandstoffen&specials</label>  
                       <input type="radio" name="productgroup" id="fuels" oninput="this.className = ''" checked>
                    </li>
                    <li>
                        <label for="lubricants">smeermiddelen</label>
                        <input type="radio" name="productgroup" id="lubricants" oninput="this.className = ''"> 
                    </li>
                </ul>   
            </div>


            <div class="tab">
                <label for="progressbar">voortgang</label>
                <progress id="progressbar" value="50" max="100"></progress><br><br>
                <div class="question" id="questionId">
                    <p class="questionText">Bereikbaarheid UTB?</p><br>
                    <fieldset class="rating">
                        <input type="radio" id="field1_star5" name="rating1" value="5" /><label class = "full" for="field1_star5"></label>
                        
                        <input type="radio" id="field1_star4" name="rating1" value="4" /><label class = "full" for="field1_star4"></label>
                        
                        <input type="radio" id="field1_star3" name="rating1" value="3" /><label class = "full" for="field1_star3"></label>
                        
                        <input type="radio" id="field1_star2" name="rating1" value="2" /><label class = "full" for="field1_star2"></label>
                        
                        <input type="radio" id="field1_star1" name="rating1" value="1" /><label class = "full" for="field1_star1"></label>
                        
                    </fieldset>
                </div><br><br>
                <div class="question" id="questionId">
                    <p class="questionText">Bezoekfrequentie UTB vertegenwoordiger?</p><br>
                    <fieldset class="rating">
                        <input type="radio" id="field2_star5" name="rating2" value="5" /><label class = "full" for="field2_star5"></label>
                        
                        <input type="radio" id="field2_star4" name="rating2" value="4" /><label class = "full" for="field2_star4"></label>
                        
                        <input type="radio" id="field2_star3" name="rating2" value="3" /><label class = "full" for="field2_star3"></label>
                        
                        <input type="radio" id="field2_star2" name="rating2" value="2" /><label class = "full" for="field2_star2"></label>
                        
                        <input type="radio" id="field2_star1" name="rating2" value="1" /><label class = "full" for="field2_star1"></label>
                        
                    </fieldset>
                </div><br><br>
                <div class="question" id="questionId">
                    <p class="questionText">Tevredenheid over de mogelijkheden en de wijze van bestellen?</p><br>
                    <fieldset class="rating">
                        <input type="radio" id="field3_star5" name="rating3" value="5" /><label class = "full" for="field3_star5"></label>
                        
                        <input type="radio" id="field3_star4" name="rating3" value="4" /><label class = "full" for="field3_star4"></label>
                        
                        <input type="radio" id="field3_star3" name="rating3" value="3" /><label class = "full" for="field3_star3"></label>
                        
                        <input type="radio" id="field3_star2" name="rating3" value="2" /><label class = "full" for="field3_star2"></label>
                        
                        <input type="radio" id="field3_star1" name="rating3" value="1" /><label class = "full" for="field3_star1"></label>
                        
                    </fieldset>
                </div><br><br>
                <div class="question" id="questionId">
                    <p class="questionText">Tevredenheid mbt de levertijden?</p><br>
                    <fieldset class="rating">
                        <input type="radio" id="field4_star5" name="rating4" value="5" /><label class = "full" for="field4_star5"></label>
                        
                        <input type="radio" id="field4_star4" name="rating4" value="4" /><label class = "full" for="field4_star4"></label>
                        
                        <input type="radio" id="field4_star3" name="rating4" value="3" /><label class = "full" for="field4_star3"></label>
                        
                        <input type="radio" id="field4_star2" name="rating4" value="2" /><label class = "full" for="field4_star2"></label>
                        
                        <input type="radio" id="field4_star1" name="rating4" value="1" /><label class = "full" for="field4_star1"></label>
                        
                    </fieldset>
                </div>
            </div>

            <div class="tab">
                <label for="progressbar">voortgang</label>
                <progress id="progressbar" value="75" max="100"></progress><br><br>
                <div class="question" id="questionId">
                    <p class="questionText">Tevredenheid mbt de administratieve afhandeling?</p><br>
                    <fieldset class="rating">
                        <input type="radio" id="field5_star5" name="rating5" value="5" /><label class = "full" for="field5_star5"></label>
                        
                        <input type="radio" id="field5_star4" name="rating5" value="4" /><label class = "full" for="field5_star4"></label>
                        
                        <input type="radio" id="field5_star3" name="rating5" value="3" /><label class = "full" for="field5_star3"></label>
                        
                        <input type="radio" id="field5_star2" name="rating5" value="2" /><label class = "full" for="field5_star2"></label>
                        
                        <input type="radio" id="field5_star1" name="rating5" value="1" /><label class = "full" for="field5_star1"></label>
                        
                    </fieldset>
                </div><br><br>
                <div class="question" id="questionId">
                    <p class="questionText">Tevredenheid mbt de klachtenafhandeling?</p><br>
                    <fieldset class="rating">
                        <input type="radio" id="field6_star5" name="rating6" value="5" /><label class = "full" for="field6_star5"></label>
                        
                        <input type="radio" id="field6_star4" name="rating6" value="4" /><label class = "full" for="field6_star4"></label>
                        
                        <input type="radio" id="field6_star3" name="rating6" value="3" /><label class = "full" for="field6_star3"></label>
                        
                        <input type="radio" id="field6_star2" name="rating6" value="2" /><label class = "full" for="field6_star2"></label>
                        
                        <input type="radio" id="field6_star1" name="rating6" value="1" /><label class = "full" for="field6_star1"></label>
                        
                    </fieldset>
                </div><br><br>
                <div class="question" id="questionId">
                    <p class="questionText">Eindoordeel UTB organisatie ?</p><br>
                    <fieldset class="rating">
                        <input type="radio" id="field7_star5" name="rating7" value="5" /><label class = "full" for="field7_star5"></label>
                        
                        <input type="radio" id="field7_star4" name="rating7" value="4" /><label class = "full" for="field7_star4"></label>
                        
                        <input type="radio" id="field7_star3" name="rating7" value="3" /><label class = "full" for="field7_star3"></label>
                        
                        <input type="radio" id="field7_star2" name="rating7" value="2" /><label class = "full" for="field7_star2"></label>
                        
                        <input type="radio" id="field7_star1" name="rating7" value="1" /><label class = "full" for="field7_star1"></label>
                        
                    </fieldset>
                </div><br><br>
                
            </div>

            <div class="tab" class="container">
                <label for="progressbar">voortgang</label>
                <progress id="progressbar" value="80" max="100"></progress><br><br>
                <div class="comment">
                    <h3>Overige opmerkingen</h3>
                    <textarea id="opmerkingen" class="textinput" placeholder="Opmerking"></textarea>
                </div>
                
            </div>

            <div class="tab">
                <label for="progressbar">voortgang</label>
                <progress id="progressbar" value="95" max="100"></progress><br><br>
                <h3>Overige vragen</h3>
                <label for="firstQuestion">Hoe staat u tegenover het bestellen in de UTB webshop?</label>
                <br><br>
                <div class="questionRB" oninput="this.className = ''">
                    <span></span>
                    <ul class="questionList">
                        <li>
                            <label for="positiveRB">Positief</label>
                            <input type="radio" name="questionOrder" id="positiveRB">
                        </li>
                        <li>
                           <label for="neutralRB">Neutraal</label>
                            <input type="radio" name="questionOrder" id="neutralRB" checked> 
                        </li>
                        <li>
                           <label for="negativeRB">Negatief</label>
                            <input type="radio" name="questionOrder" id="negativeRB"> 
                        </li>
                    </ul>
                    
                </div>
                <br><br>
                <label for="secondQuestion">Hoe waardeert u UTB ten opzichte van andere merken?</label>
                <br><br>
                <div class="questionRB" oninput="this.className = ''">
                    <span></span>
                    <ul class="questionList">
                        <li>
                            <label for="positiveRB">Positief</label>
                            <input type="radio" name="questionBrands" id="positiveRB">
                        </li>
                        <li>
                            <label for="neutralRB">Neutraal</label>
                            <input type="radio" name="questionBrands" id="neutralRB" checked>
                        </li>
                        <li>
                            <label for="negativeRB">Negatief</label>
                            <input type="radio" name="questionBrands" id="negativeRB"> 
                        </li>
                    </ul>
                    
                </div>
            </div>

            <div style="overflow:none;">
                <div style="float:center;">
                    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                </div>
            </div>

            <!-- Circles which indicates the steps of the form: -->
            <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
            </div>
            
            </form>
    </main>
</body>
<script src="/js/myScript.js"></script>
<script src="/js/datePicker.js"></script>
</html>