<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>UTB klantenfeedback</title>

    <link rel="stylesheet" href="/css/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>

</head>
<body>
<div id="bg"></div>
<header>
    <ul>
        <li>
            <a href="https://www.utboils.com/" class="logo"><img src="../../images/logo.png" alt="UTB logo"/></a>
        </li>
        <li>
            <h1 id="homepageTitle">Admin Formulieren beheer</h1>
            <h4 id="homepageSubTitle">
                Hier kan je formulieren beheren
            </h4>
        </li>
    </ul>
</header>
</body>
</html>