<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <link rel="stylesheet" href="/css/main.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html {
      height: 100%;
    }
  </style>
</head>

<body>
  <script>
    if(screen.availHeight > screen.availWidth){
      alert("Draai uw mobiele apparaat!");
    }
  </script>
  <nav>
    <a href="/admin/forms/select"><button class="tablink">Beoordelingsoverzicht</button></a>
    <a href="/admin"><button class="tablink">Gebruikers</button></a>
    <a href="/admin/forms"><button class="tablink">Vragen Wijzigen</button></a>
    <a href="/admin/adduser"><button class="tablink">Gebruiker Toevoegen</button></a>
    <a href="/admin/statistics"><button class="tablink active">Statistieken</button></a>
  </nav>
  <form class="searchbar" method="POST" action="/admin" novalidate>
    <input type="text" placeholder="Zoeken.." name="search">
    <button class="hidden" type="submit"><i class="fa fa-search"></i></button>
  </form>
  <table style="margin-bottom: 20px;" class="">
    <thead class="">
      <tr>
        <th scope="">Vraag</th>
        <th scope="">Gemiddelde</th>
      </tr>
    </thead>
    <tbody>
      {{#each results}}
      <tr>
        <td>{{this.questionTitle}}</td>
        <td>{{this.Averages}}</td>
      </tr>
      {{/each}}
      <script>
        function delay(URL) {
          if (confirm("Weet u zeker dat u deze gebruiker wilt verwijderen?")) {
            alert("Je hebt deze gebruiker verwijderd");
            setTimeout(function () { window.location.href = URL }, 100);
          } else {
            alert("Je hebt deze verwijdering geannuleerd!");
          }
        }
      </script>
    </tbody>
  </table>
</html>
