<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <style>
        html {
        height: 100%;
        }
    </style>
</head>

<body>
    <a href="/beoordelingsformulier/utb-feedback-1"><button class="tablink">Beoordelingsoverzicht</button></a>
    <a href="/admin"><button class="tablink active">Gebruikers</button></a>
    <a href=""></a><button class="tablink">Vragen Wijzigen</button></a>
    <a href="/admin/adduser"><button class="tablink">Gebruiker Toevoegen</button></a>


    <div class="view-user">
        {{#each rows}}
        <div>
            <h1 style="padding: 20px;">{{this.name}} </h1>

        </div>
        <div>
            <h4 style="padding: 20px;">Email: {{this.email}}</h4>
        </div>
        <div style="padding: 20px;" class="comments">
            <h6>Opmerkingen:</h6>
            {{this.comments}}
        </div>

        {{/each}}

    </div>
        <script src="/js/script.js">
        </script>
    <footer>
        <script>
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        </script>
    </footer>
</body>

</html>