$colors: (
  primary: #0c457f,
  PrimaryDark: #051a2e,
  primaryLight: #749dc8,
  textColor: #f5f0ef,
  starColor: #c8a95b,
  success: #06b261,
  error: #e63322,
  errorLight: #f0847a,
);
@function color($color-name) {
  @return map-get($colors, $color-name);
}

//reset use agent stylesheets
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// start of (s)css code
.logo {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media screen and (max-width: 720px) {
  .hidden {
    display: none;
  }

  .logo {
    display: block;
    margin: auto;
  }
}

body {
  font-family: "roboto";
  color: color(textColor);
  font-size: medium;
  margin: 0;
  height: fit-content;
  background-image: url("/images/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  position: fixed;
  top: 0;
  margin-bottom: 5vh;
  width: 100%;
  overflow-wrap: break-word;
}

main {
  margin-top: 10vh;
}

#formTitle {
  font-family: "montserrat";
  margin-left: 20%;
}

form {
  text-align: center;
  font-size: x-large;
  #nextBtn {
    background-color: color(primary);
    color: color(textColor);
    border: 2px solid #0c457f;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 4px 5px 2px 2px rgba(5, 26, 46, 0.5),
      inset -5px -5px 4px 1px rgba(116, 157, 200, 0.5);
    width: 140px;
    height: 50px;
    margin: 40px 10px 10px;
  }
  #nextBtn:hover {
    background: #55a2ef;
    border: 2px solid #051a2e;
    box-sizing: border-box;
    box-shadow: 4px 5px 2px 2px rgba(5, 26, 46, 0.5),
      inset -5px -5px 4px 1px rgba(116, 255, 255, 0.5);
  }
  #prevBtn {
    background-color: color(primary);
    color: color(textColor);
    border: 2px solid #0c457f;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 4px 5px 2px 2px rgba(5, 26, 46, 0.5),
      inset -5px -5px 4px 1px rgba(116, 157, 200, 0.5);
    width: 140px;
    height: 50px;
    margin: 40px 10px 10px;
  }
  #prevBtn:hover {
    background: #55a2ef;
    border: 2px solid #051a2e;
    box-sizing: border-box;
    box-shadow: 4px 5px 2px 2px rgba(5, 26, 46, 0.5),
      inset -5px -5px 4px 1px rgba(116, 255, 255, 0.5);
  }
}

input[type="text"],
[type="password"] {
  background: color(textColor);
  border: 1px solid color(error);
  box-sizing: border-box;
  border-radius: 5px;
}

input[type="date"] {
  border-radius: 5px;
}

p {
  margin: 2vh, auto;
}

//star rating
.questionText {
  margin: 0;
}

//stars
@mixin star-rating(
  $filled-color: #c8a95b,
  $empty-color: #444,
  $size: 40px,
  $width: 50%
) {
  $star--filled: ★;
  $star--empty: ☆;
  width: $width;
  > * {
    float: right;
  }
  // optional initial pulse of stars
  @at-root {
    @keyframes pulse {
      50% {
        color: lighten($empty-color, 10%);
        text-shadow: 0 0 15px lighten($empty-color, 20%);
      }
    }
  }
  label {
    height: 40px;
    width: 20%;
    display: block;
    position: relative;
    cursor: pointer;
    @for $i from 10 through 1 {
      &:nth-of-type(#{$i}):after {
        $animation-delay: $i * 0.05s;
        animation-delay: $animation-delay;
      }
    }
    &:after {
      transition: all 0.4s ease-out;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      content: "#{$star--empty}";
      color: $empty-color;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: $size;
      animation: 1s pulse ease;
    }
    label {
      height: 40px;
      width: 20%;
      display: block;
      position: relative;
      cursor: pointer;
      @for $i from 5 through 1 {
        &:nth-of-type(#{$i}):after {
          $animation-delay: $i * 0.05s;
          animation-delay: $animation-delay;
        }
      }
      &:after {
        transition: all 0.4s ease-out;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        content: "#{$star--empty}";
        color: $empty-color;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: $size;
        animation: 1s pulse ease;
      }
      &:hover:after {
        color: lighten($empty-color, 10%);
        text-shadow: 0 0 15px lighten($empty-color, 10%);
      }
    }
  }
  input {
    display: none;
    &:checked {
      + label:after,
      ~ label:after {
        content: "#{$star--filled}";
        color: $filled-color;
        text-shadow: 0 0 20px $filled-color;
      }
    }
  }
}

.rating {
  margin: 1vh auto;
  @include star-rating();
}

//table
table {
  width: 80%;
  margin: auto;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 15px;
  text-align: center;
}

th {
  background-color: color(primaryLight);
  border: 2px solid black;
}

td {
  background-color: rgba(255, 255, 255, 0.1);
}

td a {
  color: color(textColor);
  padding: 5%;
}

//info
.userInfo {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 50%;
  display: block;
  margin: 5% auto;
  text-align: center;
}

.userInfo h1 {
  padding-top: 2vh;
}

.userInfo p {
  font-size: x-large;
  padding: 25px;
}

.userInfo a {
  background: color(primary);
  border: 2px solid #051a2e;
  box-sizing: border-box;
  display: inline-block;
  margin: 30px;
  box-shadow: 4px 5px 2px 2px rgba(5, 26, 46, 0.5),
    inset -5px -5px 4px 1px rgba(116, 157, 200, 0.5);
  border-radius: 10px;
  padding: 2vh 10%;
  color: color(textColor);
  text-decoration: none;
}

.userInfo a:hover {
  background: #55a2ef;
  border: 2px solid #051a2e;
  box-sizing: border-box;
  box-shadow: 4px 5px 2px 2px rgba(5, 26, 46, 0.5),
    inset -5px -5px 4px 1px rgba(116, 255, 255, 0.5);
  border-radius: 10px;
  padding: 2vh 10%;
  color: color(textColor);
  text-decoration: none;
}

//carroussel
#regForm {
  background-color: color(PrimaryDark);
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Roboto;
  border: 1px solid color(primaryLight);
}

/* Mark input boxes that gets an error on validation: */

input.invalid {
  background-color: color(errorLight);
  border-color: color(error);
}

/* Hide all steps by default: */

.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: color(primaryLight);
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */

.step.finish {
  background-color: color(success);
}

.container {
  max-width: 820px;
  margin: 0px auto;
  margin-top: 50px;
}

.comment {
  float: left;
  width: 100%;
  height: auto;
}

.commenter {
  float: left;
}

.commenter img {
  width: 35px;
  height: 35px;
}

.comment-text-area {
  float: left;
  width: 100%;
  height: auto;
  resize: none;
}

.comment h3 {
  padding: 8px;
}

.textinput {
  float: left;
  width: 100%;
  min-height: 75px;
  outline: none;
  resize: none;
  border: 1px solid grey;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 28px;
  padding-bottom: 10px;
}

h3 {
  font-size: x-large;
  text-align: center;
}

.sr-only {
  display: none;
}

.question-spacer {
  height: 2rem;
}

form input {
  max-width: 50%;
}

@media screen and (max-width: 720px) {
  form input {
    max-width: 80%;
  }
}

.btn {
  height: 5vh;
  width: 20%;
  margin: 0;
  cursor: pointer;
  color: color(textColor);
  background: #0c457f;
  border: 2px solid #051a2e;
  box-sizing: border-box;
  box-shadow: 4px 5px 2px 2px rgba(5, 26, 46, 0.5),
    inset -5px -5px 4px 1px rgba(116, 157, 200, 0.5);
  border-radius: 10px;
}

.btn:hover {
  background: #55a2ef;
  border: 2px solid #051a2e;
  box-sizing: border-box;
  box-shadow: 4px 5px 2px 2px rgba(5, 26, 46, 0.5),
    inset -5px -5px 4px 1px rgba(116, 255, 255, 0.5);
  border-radius: 10px;
  color: color(textColor);
  text-decoration: none;
}

.opmerkingenLijst {
  background-color: #749dc8;
  margin: 20px;
  padding: 10px;
}

.opmerkingenBox {
  border: 1px solid #051a2e;
  margin: 20px;
  padding: 10px;
}

/* Style tab links */

.tablink {
  background-color: color(PrimaryDark);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  min-height: 70px;
}

.tablink:hover {
  background-color: color(primaryLight);
}

/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
  color: color(textColor);
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.searchbar {
  display: block;
  margin: 10vh;
}

.searchbar input {
  border-color: color(PrimaryDark);
  height: 4vh;
}

.searchbar button {
  border-radius: 5px;
  height: 4vh;
  width: 50px;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.table.a {
  table-layout: auto;
  width: 180px;
}

.question-label {
  display: block;
  padding-top: 12px;
}

textarea {
  border-radius: 5px;
  height: 20vh;
}

.active {
  background-color: #749dc8;
}

//admin checkbox
.wrapper-checkbox {
  display: inline-flex;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 50px;
  width: 300px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.wrapper-checkbox .option {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}

.wrapper-checkbox .option .dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: relative;
}

.wrapper-checkbox .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

.wrapper-checkbox input[type="radio"] {
  display: none;
}

#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2 {
  border-color: #0069d9;
  background: #0069d9;
}

#option-1 ~ .option-1 .dot,
#option-2 ~ .option-2 .dot {
  background: #fff;
  border-color: #fff;
}

#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}

.wrapper-checkbox .option span {
  font-size: 20px;
  color: #808080;
}

#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
  color: #fff;
}

//addUser form
.editForm {
  display: block;
  margin-top: 10vh;
}

//large title on feedback form pops down.
@media only screen and (max-width: 647px) {
  form {
    text-align: center;
    font-size: x-large;
    #nextBtn {
      background-color: color(primary);
      color: color(textColor);
      border: 2px solid #0c457f;
      border-radius: 8px;
      box-sizing: border-box;
      box-shadow: 4px 5px 2px 2px rgba(5, 26, 46, 0.5),
        inset -5px -5px 4px 1px rgba(116, 157, 200, 0.5);
      width: 70px;
      height: 50px;
      margin: 40px 10px 10px;
    }
    #nextBtn:hover {
      background: #55a2ef;
      border: 2px solid #051a2e;
      box-sizing: border-box;
      box-shadow: 4px 5px 2px 2px rgba(5, 26, 46, 0.5),
        inset -5px -5px 4px 1px rgba(116, 255, 255, 0.5);
    }
    #prevBtn {
      background-color: color(primary);
      color: color(textColor);
      border: 2px solid #0c457f;
      border-radius: 8px;
      box-sizing: border-box;
      box-shadow: 4px 5px 2px 2px rgba(5, 26, 46, 0.5),
        inset -5px -5px 4px 1px rgba(116, 157, 200, 0.5);
      width: 70px;
      height: 50px;
      margin: 40px 10px 10px;
    }
    #prevBtn:hover {
      background: #55a2ef;
      border: 2px solid #051a2e;
      box-sizing: border-box;
      box-shadow: 4px 5px 2px 2px rgba(5, 26, 46, 0.5),
        inset -5px -5px 4px 1px rgba(116, 255, 255, 0.5);
    }
  }

  //here

  .logo {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }

  main {
    margin-top: 10px;
  }

  #regForm {
    background-color: color(PrimaryDark);

    margin: 100px auto;
    margin-top: 40px;
    padding: 40px;
    width: 70%;
    min-width: 250px;
  }

  .formTitle {
    font-family: "montserrat";
    margin-left: 20%;
    display: none;
  }
}

#printPage {
  background-color: #749dc8;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#wrapper-printButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media print {
  .browser-only {
    display: none;
  }
  .printDiv {
    display: block;
  }
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;

  text-align: center;
}

.newForm {
  height: 5vh;
  width: 20%;
  margin: 0;
  cursor: pointer;
  color: color(textColor);
  background: #0c457f;
  border: 2px solid #051a2e;
  box-sizing: border-box;
  box-shadow: 4px 5px 2px 2px rgba(5, 26, 46, 0.5),
    inset -5px -5px 4px 1px rgba(116, 157, 200, 0.5);
  border-radius: 10px;
}

.newForm:hover {
  background: #55a2ef;
  border: 2px solid #051a2e;
  box-sizing: border-box;
  box-shadow: 4px 5px 2px 2px rgba(5, 26, 46, 0.5),
    inset -5px -5px 4px 1px rgba(116, 255, 255, 0.5);
  border-radius: 10px;
  color: color(textColor);
  text-decoration: none;
}

/* Hide the browser's default radio button */

.question-radio ul li input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */

.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
