@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header ul li {
  float: left;
}

body {
  font-family: "roboto";
  color: #f5f0ef;
  font-size: medium;
  margin: 0;
  height: 100%;
  background-image: url("/images/background.jpg");
  background-size: cover;
}

nav {
  position: fixed;
  top: 0;
  margin-bottom: 5vh;
  width: 100%;
}

main {
  margin-top: 10vh;
}

#formTitle {
  font-family: "montserrat";
  margin-left: 20%;
}

form {
  text-align: center;
  font-size: x-large;
}

form #nextBtn {
  background-color: #0c457f;
  color: #f5f0ef;
  border: 2px solid #0c457f;
  border-radius: 8px;
  width: 140px;
  height: 50px;
  margin: 40px 10px 10px;
}

form #nextBtn:hover {
  background-color: #008cba;
  color: white;
}

form #prevBtn {
  background-color: #0c457f;
  color: #f5f0ef;
  border: 2px solid #0c457f;
  border-radius: 8px;
  width: 140px;
  height: 50px;
  margin: 40px 10px 10px;
}

form #prevBtn:hover {
  background-color: #008cba;
  color: white;
}

input[type="text"], [type="password"] {
  background: #f5f0ef;
  border: 1px solid #e63322;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

input[type="date"] {
  border-radius: 5px;
}

p {
  margin: 2vh, auto;
}

.questionText {
  margin: 0;
}

.rating {
  margin: 1vh auto;
  width: 50%;
}

.rating > * {
  float: right;
}

@-webkit-keyframes pulse {
  50% {
    color: #5e5e5e;
    text-shadow: 0 0 15px #777777;
  }
}

@keyframes pulse {
  50% {
    color: #5e5e5e;
    text-shadow: 0 0 15px #777777;
  }
}

.rating label {
  height: 40px;
  width: 20%;
  display: block;
  position: relative;
  cursor: pointer;
}

.rating label:nth-of-type(10):after {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.rating label:nth-of-type(9):after {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.rating label:nth-of-type(8):after {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.rating label:nth-of-type(7):after {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.rating label:nth-of-type(6):after {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.rating label:nth-of-type(5):after {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.rating label:nth-of-type(4):after {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.rating label:nth-of-type(3):after {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.rating label:nth-of-type(2):after {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.rating label:nth-of-type(1):after {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.rating label:after {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  content: "☆";
  color: #444;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 40px;
  -webkit-animation: 1s pulse ease;
          animation: 1s pulse ease;
}

.rating label label {
  height: 40px;
  width: 20%;
  display: block;
  position: relative;
  cursor: pointer;
}

.rating label label:nth-of-type(5):after {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.rating label label:nth-of-type(4):after {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.rating label label:nth-of-type(3):after {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.rating label label:nth-of-type(2):after {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.rating label label:nth-of-type(1):after {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.rating label label:after {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  content: "☆";
  color: #444;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 40px;
  -webkit-animation: 1s pulse ease;
          animation: 1s pulse ease;
}

.rating label label:hover:after {
  color: #5e5e5e;
  text-shadow: 0 0 15px #5e5e5e;
}

.rating input {
  display: none;
}

.rating input:checked + label:after,
.rating input:checked ~ label:after {
  content: "★";
  color: #c8a95b;
  text-shadow: 0 0 20px #c8a95b;
}

table {
  width: 80%;
  margin: auto;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 15px;
  text-align: center;
}

th {
  background-color: #749dc8;
  border: 2px solid black;
}

td {
  background-color: rgba(255, 255, 255, 0.1);
}

td a {
  color: #f5f0ef;
  padding: 5%;
}

.userInfo {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 50%;
  display: block;
  margin: 5% auto;
  text-align: center;
}

.userInfo h1 {
  padding-top: 2vh;
}

.userInfo p {
  font-size: x-large;
  padding: 25px;
}

.userInfo a {
  background: #0c457f;
  border: 2px solid #051A2E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 30px;
  -webkit-box-shadow: 4px 5px 2px 2px rgba(5, 26, 46, 0.5), inset -5px -5px 4px 1px rgba(116, 157, 200, 0.5);
          box-shadow: 4px 5px 2px 2px rgba(5, 26, 46, 0.5), inset -5px -5px 4px 1px rgba(116, 157, 200, 0.5);
  border-radius: 10px;
  padding: 2vh 10%;
  color: #f5f0ef;
  text-decoration: none;
}

.userInfo a:hover {
  background: #55A2EF;
  border: 2px solid #051A2E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 5px 2px 2px rgba(5, 26, 46, 0.5), inset -5px -5px 4px 1px rgba(116, 255, 255, 0.5);
          box-shadow: 4px 5px 2px 2px rgba(5, 26, 46, 0.5), inset -5px -5px 4px 1px rgba(116, 255, 255, 0.5);
  border-radius: 10px;
  padding: 2vh 10%;
  color: #f5f0ef;
  text-decoration: none;
}

#regForm {
  background-color: #051a2e;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Roboto;
  border: 1px solid #749dc8;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #f0847a;
  border-color: #e63322;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #749dc8;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #06b261;
}

.container {
  max-width: 820px;
  margin: 0px auto;
  margin-top: 50px;
}

.comment {
  float: left;
  width: 100%;
  height: auto;
}

.commenter {
  float: left;
}

.commenter img {
  width: 35px;
  height: 35px;
}

.comment-text-area {
  float: left;
  width: 100%;
  height: auto;
  resize: none;
}

.comment h3 {
  padding: 8px;
}

.textinput {
  float: left;
  width: 100%;
  min-height: 75px;
  outline: none;
  resize: none;
  border: 1px solid grey;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 28px;
  padding-bottom: 10px;
}

h3 {
  font-size: x-large;
  text-align: center;
}

form input {
  max-width: 50%;
}

@media screen and (max-width: 720px) {
  form input {
    max-width: 80%;
  }
}

.btn {
  height: 5vh;
  width: 20%;
  margin: 0;
  color: #f5f0ef;
  background: #0C457F;
  border: 2px solid #051A2E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 5px 2px 2px rgba(5, 26, 46, 0.5), inset -5px -5px 4px 1px rgba(116, 157, 200, 0.5);
          box-shadow: 4px 5px 2px 2px rgba(5, 26, 46, 0.5), inset -5px -5px 4px 1px rgba(116, 157, 200, 0.5);
  border-radius: 10px;
}

.opmerkingenLijst {
  background-color: #749dc8;
  margin: 20px;
  padding: 10px;
}

.opmerkingenBox {
  border: 1px solid #051a2e;
  margin: 20px;
  padding: 10px;
}

/* Style tab links */
.tablink {
  background-color: #051a2e;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #749dc8;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #f5f0ef;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.searchbar {
  display: block;
  margin: 10vh;
}

.searchbar input {
  border-color: #051a2e;
  height: 6vh;
}

.searchbar button {
  border-radius: 5px;
  height: 6vh;
  width: 3%;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.question-label {
  padding: px;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper-checkbox .option span{
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}
#printPage {
	background-color: #749DC8;
	border: none;
	color: white;
	padding: 15px 32px;
  margin: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
#wrapper {
  display: flex;
  justify-content: center;
}
